# Ignoriere Verzeichnisse
venv/
.idea/
myenv/

# Ignoriere bestimmte Dateitypen
*.json
*.csv
*.xlsx
*.txt

# Ignoriere spezifische Dateien
ggm_category.json

# Ignoriere JetBrains IDE Dateien
.idea/*.xml
.idea/*.iml

# Ignoriere Excel-Dateien im Excel_Output Verzeichnis
Excel_Output/*.xlsx
